= "Hi #{@user.name},\n"

= "Welcome to the Sample App!\nClick on the link below to activate your account:\n"

= link_to 'Activate', edit_account_activation_url(@user.activation_token, email: @user.email)
